html, body {
    height: 100vh;
}

.nav-logo {
    width: 200px;
}

.homepage-img-cover {
    background: url(/resources/images/home-background.jpg);
    background-size: cover;
    background-position: bottom;
}

.product-card {
    background: red;
    border-radius: 5px;
    background: #dee2e6;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}
.product-remove {
    position: absolute;
    right: 0px;
}