html, body {
    height: 100vh;
}

.nav-logo {
    width: 200px;
}

.homepage-background {
    background: url(/resources/images/home-background.jpg);
    background-size: cover;
    background-position: bottom;
}

.product-card {
    background: red;
    border-radius: 5px;
    background: #dee2e6;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.product-remove {
    position: absolute;
    right: 0px;
}

.create-order-background-right {
    background: url(/resources/images/cart-background-right.png);
    background-repeat: no-repeat;
    background-position: right;
}

.order-list-background-left {
    background: url(/resources/images/order-list-background-left.png);
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
}

.order-placed-background {
    background: url(/resources/images/order-placed.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.error-background {
    background: url(/resources/images/error.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.customer-details-block {
    margin-bottom: 20px;
}

.customer-details-block--properties {
    padding-left: 20px;
    font-size: 14px;
}

.order-entry-block {
    background: lightskyblue;
    border-left: 5px solid dodgerblue;
    padding-left: 20px;
}

.order-entry-block--properties {
    font-size: 14px;
    padding-left: 15px;

}