html, body {
    height: 100vh;
}

.nav-logo {
    width: 200px;
}

.homepage-img-cover {
    background: url(/resources/images/home-background.jpg);
    background-size: cover;
    background-position: bottom;
}